body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Animación de desvanecimiento */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Animación de deslizamiento */
@keyframes slide-in {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
    animation: fade-in 1.5s ease;
    border-radius: 50%;
    margin-right: 20px;
}

/* Estilos para los títulos */
h1 {
    flex: 1;
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    color: #007bff;
}

h3 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    font-style: italic;
    margin-top: 10px;
    color: #333;
}

h4,
h5 {
    text-align: center;
    margin-top: 20px;
}

.sub-texto{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilos generales para la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    border-bottom: 2px solid #fff;
}

/* Estilos para el menú hamburguesa (responsive) */
.menu-icon {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

/* Estilos para el div "subtitle-wrapper" */
.subtitle-wrapper {
    color: black;
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    background-color: #CCCCCC;
    border: 1px solid ;
    border-radius: 4px;
}
.subtitle-wrapper p {
    margin: 15px 0;
}

/* Estilos para index "visitanos" */
.visitanos {
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el enlace de WhatsApp */
.whatsapp-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #fff;
    background-color: #25d366;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    max-width: 200px;
    margin: 0 auto;
}
.whatsapp-link i {
    margin-right: 8px;
}


/* modificación del  slider*/
#carouselExampleIndicators {
    margin: 30px auto;
    width: 100%;
}
.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 800px;
    object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    border: 1px solid #444;
}
.carousel-indicators {
    bottom: 10px;
}
.carousel-indicators li {
    background-color: #444;
    border: none;
    box-shadow: none;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}
.carousel-indicators .active {
    background-color: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

/* Estilos para la sección */
#flex-content {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 50px;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
}
#flex-content a:hover img {
    transition: transform 0.5s ease;
    transform: scale(1.15);
}

/* Estilos para los enlaces de productos */
.product-link {
    margin: 10px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.product-link img {
    max-width: 100%;
    height: auto;
}
.product-link:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.product-link:hover {
    transform: scale(1.1);
}
.product-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
/* Animación de zoom al pasar el mouse */
.product-image:hover {
    transform: scale(1.1);
}
/* Otros estilos para la sección */
#flex-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
#flex-content a {
    text-decoration: none;
    color: #333;
}

/*estilo del boton comercio*/
.comercio {
    text-align: center;
    padding: 20px;
    background-color: black;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.comercio p {
    font-size: 18px;
    margin: 10px 0;
    color: white;
}

.comercio a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.comercio a:hover {
    background-color: #1e73be;
}

.comercio img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


/*productos.js*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.product-card {
    width: calc(33.33% - 20px);
    margin: 20px;
    padding: 15px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}
.product-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}
.product-card p {
    font-size: 14px;
    margin: 5px 0;
}
button {
    background-color: #333;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
}
button:hover {
    background-color: #444;
}
.added-to-cart {
    background-color: green;
    color: white;
    transition: background-color 0.5s;
}

/* Agrega estilos para los botones deshabilitados */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Estilos del modal */
/* .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegura que el modal esté en la parte superior */
/* } */

/* .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* Estilos para el botón "Cerrar" dentro del modal */
/* #closeModal {
    margin-top: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* #closeModal:hover {
    background-color: #ff4022;
} */


/*footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;;
}
/* Estilo del contenedor del footer */
.footer .container {
    display: flex;
    justify-content: center;
}
.footer .contact-info,
.footer .social-media {
    flex: 1;
    max-width: 400px;
}
/* Estilo para los encabezados de las secciones */
.footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
/* Estilo para los enlaces de redes sociales */
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer ul li a i {
    margin-right: 10px;
}


/* Estilos del formulario (contacto) */
form {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #444;
}
.contact-info {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.contact-info p {
    text-align: center;
    line-height: 1.6;
}
/* Estilos para la imagen */
.foto {
    display: flex;
    justify-content: center;
}
.foto img {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



@media screen and (max-width: 600px) {
    
    header {
        flex-direction: column;
    }
    
    .logo img {
    margin-right: 0;
    margin-bottom: 10px;
    }
    
    #searchInput {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    }
    .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
    }
    
    .nav-links li {
        padding: 15px;
        text-align: center;
    }
    
    .nav-links a {
        color: #fff;
    }
    
    .menu-icon {
        display: block;
    }
     /* Cambiamos la apariencia del icono al hacer clic */
    .menu-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
    }
    .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
    }
    .menu-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
    }
    /* Mostramos los enlaces cuando el menú está activo */
    .nav-links.active {
    display: flex;
    }

    .product-card {
    width: 100%;
    }
}
