
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.logo {
    float: left;
    margin-right: 20px;
}
.logo img {
    height: 100px;
}
header h1 {
    margin: 0;
    font-size: 32px;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: auto;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links a:hover {
    border-bottom: 2px solid #fff;
}


main {
    padding: 20px;
}

.product-card {
    border: none;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
}

.product-card img {
    height: 180px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    margin: 5px 0;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}